<!-- templates/game.html -->
{% extends "base.html" %} {% block title %}Game{% endblock %} {% block content
%}
<div class="container mx-auto p-6 text-center fadeIn">
	<h1 class="text-3xl font-bold">Welcome, {{ player['username'] }}!</h1>
	<p class="mt-4">Your adventure begins here...</p>

	{% if player %}
	<div class="mt-4">
		<h2 class="text-2xl font-semibold">Class: {{ player["class"] }}</h2>
		<ul class="mt-2 space-y-1">
			<li>
				<strong>HP:</strong> {{ player["HP"] }} (Max: {{
				player["MAX_HP"] }})
			</li>
			<li><strong>ATK:</strong> {{ player["ATK"] }}</li>
			<li><strong>DEF:</strong> {{ player["DEF"] }}</li>
			<li><strong>LVL:</strong> {{ player["LVL"] }}</li>
			<li><strong>EXP:</strong> {{ player["EXP"] }}</li>
			<li><strong>Gold:</strong> {{ player["gold"] }}</li>
		</ul>
	</div>
	{% else %}
	<p class="mt-4">No class selected.</p>
	{% endif %}
	<div
		class="container top-0 left-0 w-full h-full flex flex-col items-center justify-center"
	>
		<div class="grid grid-cols-3 gap-4">
			<div>
				<button
					onclick="window.location.href='{{ url_for('battle') }}?location=Forest'"
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 w-[100px]"
				>
					Forest
				</button>
			</div>
			<div>
				<button
					onclick="window.location.href='{{ url_for('battle') }}?location=Mountains'"
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 w-[100px]"
				>
					Mountain
				</button>
			</div>
			<div class="...">
				<button
					id="merchantButton"
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 w-[100px]"
				>
					Merchant
				</button>
			</div>
			<div>
				<button
					onclick="window.location.href='{{ url_for('battle') }}?location=Cave'"
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 w-[100px]"
				>
					Cave
				</button>
			</div>
			<div>
				<button
					onclick="window.location.href='{{ url_for('battle') }}?location=Swamp'"
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 w-[100px]"
				>
					Swamp
				</button>
			</div>
			<div class="...">
				<button
					class="bagButton bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 w-[100px]"
				>
					Bag
				</button>
			</div>
		</div>
	</div>
	<button
		onclick="window.location.href='{{ url_for('home') }}'"
		class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-5 w-[100px]"
	>
		Quit
	</button>
</div>
{% include "inventory_modal.html" %} {% include "merchant_modal.html" %} {%
endblock %}
