@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.pixel_font {
	font-family: "Pixelify Sans", sans-serif;
}

.start_bg {
	width: 100%;
	height: 100dvh;
	background-image: url("/static/images/start_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.story-container {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}

/* ------------------ */
/*     ANIMATIONS     */
/* ------------------ */

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeIn {
	animation: fadeIn 1.5s forwards;
}

.fadeOut {
	animation: fadeOut 1s forwards;
}

.animate-fade-in {
	opacity: 0;
	animation: fadeIn 1s ease-out forwards;
}

.delay-300 {
	animation-delay: 300ms;
}

.delay-600 {
	animation-delay: 600ms;
}

.delay-900 {
	animation-delay: 900ms;
}

.delay-1200 {
	animation-delay: 1200ms;
}
